/*Fonts*/

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*Variables*/

:root {
  --basic-white: #FFFFFF;
  --basic-dark-white: #EEEEEE;
  --basic-grey: #888888;
  --basic-grey-shade: #6A6A6A;
  --basic-middle-light-grey: #A9A9A9;
  --basic-middle-light-grey-shade: #666666;
  --basic-light-grey: #CACACA;
  --basic-extra-light-grey: #F2F2F2;
  --basic-extra-light-grey-shade: #EBEBEB;
  --basic-black: #000000;
  --basic-light-black: #333333;
  --basic-blue: #81B3D2;
  --basic-dark-blue: #669EC0;
  --basic-extra-dark-blue: #5496BD;
  --basic-orange: #766357;
  --basic-middle-dark-orange: #604E43;
  --basic-middle-dark-orange-shade: #503E33;
  --basic-middle-purple-pink: #BDBBBC;
  --basic-dark-pink-red: #231F20;
}
/*Global*/

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;

}

img {
  max-width: 100%;
  height: auto;
}

.site-navigation,
.features-list,
.benefits-list,
.socials-list,
.sort-list,
.hotels-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*Main navigation*/

.main-navigation {
  font-weight: bold;
  line-height: 26px;;
}

.site-navigation-current a:not([href]){
  color: var(--basic-orange);
}

/*User navigation*/

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

/*Container*/

.visually-hidden {
  visibility: hidden;
}

/*Features*/

.features {
  text-align: center;
  color: var(--basic-light-black);
}

.features-list-subtitle,
.benefits-list-subtitle {
  font-weight: 700;
  font-size: 21px;
  color: var(--basic-black)
}

.features-subtitle {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black)
}

.features-info {
  line-height: 26px;
}

.feature-item-special,
.feature-item-special .features-list-subtitle {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.feature-item-block {
  background-color: var(--basic-dark-white);
}

/*Search*/

.search {
  text-align: center;
}

.search-subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
}

.search-info {
  font-weight: 400;
  line-height: 24px;
}

.search-form {
  text-align: center;
  font-weight: bold;
  line-height: 26px;
}

.search-hotel a {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--basic-orange);
  text-align: center;
  vertical-align: middle;
}

.search-hotel a:hover {
  background-color: var(--basic-middle-dark-orange);
}

.search-hotel a:focus {
  background-color: var(--basic-middle-dark-orange-shade);
}

/*Button*/

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
}

.filters-button {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.filters .filters-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.hotels-sort .sort-list-button {
  color: var(--basic-light-grey);
}

.sort-list-button .active {
  color: var(--basic-blue);
}

.hotels-sort .sort-list-button:hover {
  color: var(--basic-black);
}

.hotels-sort .sort-list-button:focus {
  color: var(--basic-blue);
}

.hotels-list-item .hotels-list-button {
  background-color: var(--basic-orange);
}

.hotels-list-item .hotels-list-button:hover {
  background-color: var(--basic-middle-dark-orange);
}

.hotels-list-item .hotels-list-button:focus {
  background-color: var(--basic-middle-dark-orange-shade);
}

.button:hover {
  background-color: var(--basic-dark-blue);
}

.button:focus {
  background-color: var(--basic-extra-dark-blue);
}

/*Main footer*/

.main-footer {
  background-color: var(--basic-white);
  opacity: 0.9;
  text-align: center;
}

.footer-contacts {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.footer-phone {
  text-decoration: none;
  color: var(--basic-black);
}

.footer-copyright {
  line-height: 26px;
}

.footer-logo:hover {
  color: var(--basic-blue)
}

.footer-logo:focus {
  color: var(--basic-dark-pink-red);
  opacity: 1;
}

/* Social button */

.social-button {
  color: var(--basic-blue);
}

.social-button:hover {
  color: var(--basic-dark-blue);
}

.social-button:focus {
  color: var(--basic-extra-dark-blue);
}

/*Filters*/

.filters {
  background-image: url("../img/background_catalog.jpg");
  background-repeat: no-repeat;
  color: var(--basic-white);
}

.filter-title {
  font-weight: 700;
  font-size: 16px;
}

.filter-input:focus {
  color: var(--basic-grey-shade);
}

/*Hotels sort*/

.hotels-sort {
  font-size: 12px;
  line-height: 18px;
}

.hotels-sort-list-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.sort-list-item a {
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dotted var(--basic-blue);
}

.current a:not([href]) {
  color: var(--basic-blue);
  opacity: 1;
  border-bottom: none;
}

.sort-list-item a:hover {
  color: var(--basic-blue);
}

.sort-list-item a:focus {
  color: var(--basic-black);
  opacity: 1;
  border-bottom: none;
}

/*Hotels list*/

.hotels-list {
  color: var(--basic-light-black)
}

.hotels-list-title a {
  color: var(--basic-black);
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.hotels-list-title a:hover {
  color: var(--basic-blue);
}

.hotels-list-title a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.hotels-list-rating {
  color: var(--basic-middle-light-grey-shade);
  background-color: var(--basic-extra-light-grey);
}

.hotels-list-link {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}

.hotels-list-link:hover {
  background-color: var(--basic-dark-blue);
}

.hotels-list-link:focus {
  background-color: var(--basic-extra-dark-blue);
}
