/*Fonts*/

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*Variables*/

:root {
  --basic-white: #FFFFFF;
  --basic-dark-white: #EEEEEE;
  --basic-grey: #888888;
  --basic-grey-shade: #6A6A6A;
  --basic-middle-light-grey: #A9A9A9;
  --basic-middle-light-grey-shade: #666666;
  --basic-light-grey: #CACACA;
  --basic-extra-light-grey: #F2F2F2;
  --basic-extra-light-grey-shade: #EBEBEB;
  --basic-large-light-grey-shade: #E5E5E5;
  --basic-black: #000000;
  --basic-light-black: #333333;
  --basic-blue: #81B3D2;
  --basic-dark-blue: #669EC0;
  --basic-extra-dark-blue: #5496BD;
  --basic-orange: #766357;
  --basic-middle-dark-orange: #604E43;
  --basic-middle-dark-orange-shade: #503E33;
  --basic-middle-purple-pink: #BDBBBC;
  --basic-dark-pink-red: #231F20;
}
/*Global*/

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

.visually-hidden,
.hotels-list-title,
.features-list-subtitle,
.benefits-list-subtitle {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.site-navigation,
.features-list,
.benefits-list,
.socials-list,
.sort-list,
.hotels-list,
.greetings-list,
.checkboxes-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Grid*/

.page {
  height: 100%;
}

/*Container*/

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*Main navigation*/

.main-navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-weight: bold;
  line-height: 26px;
}

.main-header-logo {
  position: absolute;
  left: 528px;
  z-index: 4;
}

/*Site navigation*/

.site-navigation {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding: 15px 72px;
}

.site-navigation-item {
  padding-right: 133px;
}

.site-navigation-item:nth-child(2) {
  padding-right: 418px
}

.site-navigation-item:last-child {
  padding-right: 0px;
}

.site-navigation-current-item a:not([href]) {
  color: var(--basic-orange);
}

/*User navigation*/

.site-navigation-item a {
  color: var(--basic-black);
}

.site-navigation-item a:hover {
  color: var(--basic-blue);
}

.site-navigation-item a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

/*Main*/

.main-part {
  position: relative;
}

/*Greetings*/

.greetings-photo {
  position: relative;
  width: 1200px;
  height: 509px;;
}

.greetings-list {
  position: absolute;
  top: 77px;
  left: 371px;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  width: 457px;
}

.greetings-list .first {
  margin-bottom: 11px;
}

.greetings-list .second {
  margin-top: 0px;
  margin-bottom: 53px;
}

.greetings-list .third {
  margin-top: 0px;
  margin-bottom: 81px;
}

.greetings-shape {
  position: absolute;
  z-index: 3;
  left: 0px;
  top: 452px;
}

/*Features*/

.features {
  margin-top: 42px;
  margin-bottom: 0px;
  text-align: center;
  color: var(--basic-light-black);
}

.features-list-subtitle,
.benefits-list-subtitle {
  font-weight: 700;
  font-size: 21px;
  color: var(--basic-black)
}

.features-subtitle {
  display: block;
  width: 470px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black)
}

.features-info {
  line-height: 26px;
  margin-bottom: 51px;
}

.feature-item-special-1,
.feature-item-special-2,
.feature-item-special-1 .features-list-subtitle,
.feature-item-special-2 .features-list-subtitle {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: 256px auto 256px 256px;
  background-color: var(--basic-dark-white);
}

.feature-item-special-1 {
  grid-row: 1/2;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 400px 800px;
}

.feature-item-special-2 {
  grid-row: 3/4;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 800px 400px;
}

.features-list-subtitle {
  margin-top: 47px;
  margin-bottom: 25px;
}

.features-list-number {
  display: block;
  margin-bottom: 23px;
}

.features-list-text {
  display: block;
  margin-top: 0;
  margin-bottom: 56px;
}

.feature-item-special-2 .picture {
  order: -1;
}

/*Benefits*/

.benefits {
  grid-row: 2/3;
  grid-column: 1/-1;
}

.benefits-list {
  display: flex;
  align-items: center;
  background-color: var(--basic-white);
  position: relative;
}

.benefit-item {
  width: 400px;
}

.item-first .benefits-list-subtitle,
.item-second .benefits-list-subtitle,
.item-third .benefits-list-subtitle {
  margin-top: 160px;
  margin-bottom: 25px;
}

.benefit-item {
  margin-bottom: 82px;
}

.item-first .benefits-list-subtitle::before {
  content: "";
  position: absolute;
  top:60px;
  margin-left: -4px;
  width: 75px;
  height: 72px;
  background-image: url("../img/appartments.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.item-second .benefits-list-subtitle::before {
  content: "";
  position: absolute;
  top:60px;
  margin-left: -19px;
  width: 75px;
  height: 72px;
  background-image: url("../img/food.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.item-third .benefits-list-subtitle::before {
  content: "";
  position: absolute;
  top:60px;
  margin-left:  19px;
  width: 64px;
  height: 77px;
  background-image: url("../img/souvenirs.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*Search*/

.search {
  position: relative;
  text-align: center;
}

.map {
  z-index: -1;
  height: 594px;
  margin-top: 110px;
}

.search-subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  margin-top: 58px;
  margin-bottom: 4px;
}

.search-info {
  display: block;
  box-sizing: border-box;
  width: 435px;
  height: 95px;
  margin: 0 auto;
  padding: 30px 0 20px;
  margin-bottom: 24px;
  font-weight: 400;
  line-height: 24px;
}

.search-form {
  position: absolute;
  left: 26%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: bold;
  line-height: 26px;
  width: 568px;
  margin: 0 auto;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  background-color: var(--basic-white);
  margin-bottom: 78px;
}

.search-form-button {
  width: 568px;
  height: 86px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--basic-orange);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.search-form-button:hover {
  background-color: var(--basic-middle-dark-orange);
}

.search-form-button:focus {
  background-color: var(--basic-middle-dark-orange-shade);
}

.search-item {
  display: flex;
  width: 458px;
  justify-content: space-between;
  align-items: center;
}

.search-item:nth-of-type(3),
.search-item:nth-of-type(4) {
  width: 226px;
}

.search-item input {
  background-color: var(--basic-extra-light-grey);
  border: none;
}

.search-item:first-of-type input,
.search-item:nth-of-type(2) input {
  width: 346px;
}

.search-item:nth-of-type(3) input,
.search-item:nth-of-type(4) input {
  width: 114px;
}

.search-item:first-of-type input {
  padding-top: 10px;
  padding-left: 13px;
  padding-bottom: 11px;
  margin-left: 24px;
}

.arrival-search-item {
  position: relative;
}

.search-item:first-of-type label::after {
  content: "";
  position: absolute;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 21px;
  height: 23px;
  top: 6px;
  left: 94%
}

.search-item:nth-of-type(2) input {
  padding-top: 10px;
  padding-left: 12px;
  padding-bottom: 11px;
  margin-left: 18px;
}


.departure-search-item {
  position: relative;
}

.search-item:nth-of-type(2) label::after {
  content: "";
  position: absolute;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 21px;
  height: 23px;
  top: 6px;
  left: 94%
}

.search-item:nth-of-type(3) input {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 11px;
  margin-left: 40px;
}

.adults-search-item {
  position: relative;
}

.search-item:nth-of-type(3) label::before {
  content: "";
  position: absolute;
  background-image: url("../img/minus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 21px;
  height: 23px;
  top: 18px;
  left: 54%
}

.search-item:nth-of-type(3) label::after {
  content: "";
  position: absolute;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 21px;
  height: 23px;
  top: 13px;
  left: 94%
}

.children-search-item {
  position: relative;
}

.search-item:nth-of-type(4) label::before {
  content: "";
  position: absolute;
  background-image: url("../img/minus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 21px;
  height: 23px;
  top: 18px;
  left: 51%;
}

.search-item:nth-of-type(4) label::after {
  content: "";
  position: absolute;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 21px;
  height: 23px;
  top: 13px;
  left: 91%
}

.search-item:nth-of-type(4) input {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 11px;
  margin-left: 26px;
}

.search-item:first-of-type label {
  display: block;
  width: 93px;
}

.search-item:nth-of-type(2) label {
  display: block;
  width: 99px;
}

.search-item:nth-of-type(4) label {
  display: block;
  margin-left: 23px;
}


.arrival-search-item {
  margin: 55px 55px 0px 55px;
}

.departure-search-item {
  margin: 29px 55px 0px 55px;
}

.adults-search-item {
  margin-left: 55px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.children-search-item {
  margin-right: 55px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.search-form .button {
  font-size: 21px;
  width: 458px;
  height: 58px;
  margin: 54px 55px 55px 55px;
  padding: 0;
}

/*Button*/

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
}

.filters-button {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.filters .filters-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.hotels-sort .sort-list-button {
  color: var(--basic-light-grey);
}

.sort-list-button .active {
  color: var(--basic-blue);
}

.hotels-sort .sort-list-button:hover {
  color: var(--basic-black);
}

.hotels-sort .sort-list-button:focus {
  color: var(--basic-blue);
}

.hotels-list-item .hotels-list-button {
  background-color: var(--basic-orange);
}

.hotels-list-item .hotels-list-button:hover {
  background-color: var(--basic-middle-dark-orange);
}

.hotels-list-item .hotels-list-button:focus {
  background-color: var(--basic-middle-dark-orange-shade);
}

.button:hover {
  background-color: var(--basic-dark-blue);
}

.button:focus {
  background-color: var(--basic-extra-dark-blue);
}

/*Main footer*/

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--basic-white);
  opacity: 0.9;
  text-align: center;
  height: 120px;
}

.footer-contacts {
  margin-left: 111px;
  width: 251px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.footer-hashtag {
  margin-top: 23px;
  margin-bottom: 9px;
}

.footer-phone {
  margin-top: 0px;
}

.phone {
  text-decoration: none;
  color: var(--basic-black);
}


.footer-socials {
  width: 150px;
  justify-self: center;
  align-self: center;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-button:hover {
  background-color: var(--basic-dark-blue);
}

.social-button:focus {
  background-color: var(--basic-extra-dark-blue);
}

.social-button:focus path {
  fill: var(--basic-white);
  opacity: 0.3;
}

.footer-copyright {
  line-height: 26px;
  margin-right: 135px;
  justify-self: end;
  align-items: center;
  display: flex;
  height: 120px;
}

.footer-copyright p {
  margin-right: 11px;
  margin-top: 49px;
  margin-bottom: 45px;
}

.footer-copyright a {
  margin-top: 43px;
  margin-bottom: 36px;
}

.footer-logo:hover path {
  fill: var(--basic-blue);
}

.footer-logo:active path {
  fill: var(--basic-middle-purple-pink);
}

/* Social button */

.social-button {
  color: var(--basic-blue);
}

.social-button:hover {
  color: var(--basic-dark-blue);
}

.social-button:focus {
  color: var(--basic-extra-dark-blue);
}

/*Page catalog*/

.page-catalog {
  display:grid;
  grid-template-rows:217px 86px 1fr;
}

/*Filters*/

.filter {
  display:flex;
  padding-top: 27px;
  padding-bottom: 31px;
  padding-left: 73px;
  background-image: url("../img/background_catalog.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 217px;
  color: var(--basic-white);
}

/*checkboxes*/

.checkboxes label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-left: 29px;
  padding-left: 13px;
}

.checkboxes label::before {
  content: "";
  position: absolute;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 23px;
  height: 23px;
  top: -2px;
  left: -30px;
}

.checkboxes .filter-input:checked + label::after {
  content: "";
  position: absolute;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 27px;
  height: 23px;
  top: -2px;
  left: -30px;
}

.checkboxes {
  justify-self: start;
  display: flex;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: none;
  padding: 0;
}

fieldset:first-child {
  margin-right: 119px;
}

.checkboxes-list li {
  margin-bottom: 23px;
}

.checkboxes-list li:last-child {
  margin-bottom: 0;
}

.filter-title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 16px;
}

/*price-filter*/

.price-filter {
  width: 317px;
  margin-left: 348px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-item legend {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.range-filter {
  width: 317px;
  margin-top: 10px;
}

.range-controls {
  position: relative;
  margin-top: 20px;
  height: 36px;
}

.range-controls .scale {
  width: 316px;
  height: 2px;
  background: rgba(100%, 100%, 100%, 0.3);
}

.range-controls .bar {
  width: 80%;
  margin-left: 14px;
  margin-right: 54px;
  height: 2px;
  background: var(--basic-white);

}

.range-controls .toggle {
  position: absolute;
  top: -9px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-middle-light-grey-shade);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-middle-light-grey-shade);
  cursor: pointer;
}

.range-controls .toggle-max {
  left: 250px;
}

.price-controls {
  display: flex;

  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background-image: url("../img/border.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.price-controls input {
  width:46px;
  max-width: 100px;
  padding: 4px 0px 4px 0px;
  background-color: transparent;
  border: none;
  color: var(--basic-white);
}

.min-price {
  display: block;
  margin-left: 65px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.max-price {
  display: block;
  margin-left: 80px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.filters-button {
  padding: 7px 35px 8px 36px;
  margin-left: 85px;
  background-color: transparent;
  margin-bottom: 32px;
}

/*filters buttons' behaviour*/

.filter-input:disabled path {
  fill: var(--basic-grey-shade);
}

/*Hotels sort*/

.hotels-sort {
  display: flex;
  flex-wrap: wrap;
  padding-left: 73px;
  padding-right: 73px;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  border-bottom: 1px solid var(--basic-large-light-grey-shade);
}

.sort-list {
  display: flex;
  flex-wrap: wrap;
}

.hotels-sort-list-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-right: 46px;
}

.hotels-sort-list-subtitle {
  margin-right: 40px;
}

.sort-list-buttons {
  margin-left: auto;
}

.sort-list-item {
 padding-right: 33px;
}

.sort-list-item:last-child {
  padding-right: 0;
}

.sort-list-item a {
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dotted var(--basic-blue);
}

.current a:not([href]) {
  color: var(--basic-blue);
  opacity: 1;
  border-bottom: none;
}

.sort-list-item a:hover {
  color: var(--basic-blue);
}

.sort-list-item a:focus {
  color: var(--basic-black);
  opacity: 1;
  border-bottom: none;
}

.sort-list-button {
  border: none;
  background-color: transparent;
}

.sort-list-button:last-of-type {
  transform: rotate(180deg) translateY(2px);

}

.sort-list-button:hover path {
  fill: var(--basic-black);
}

.sort-list-button:focus path {
  fill: var(--basic-blue);
}

.sort-list-button:not(:disabled) path {
  fill: var(--basic-blue);
}

/*Hotels list*/

.hotels {
  color: var(--basic-light-black);
  height: 540px;;
}

.hotels-list {
  display: grid;
  grid-template-rows: repeat(3, 150px);
}

.hotels-list-article {
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hotels-list-item {
  border-bottom: 1px solid var(--basic-large-light-grey-shade);
}

.hotels-list-article {
  height: 150px;
  padding-top: 0;
}

.hotels-list-article {
  display: grid;
  grid-template-columns: 135px 1fr 1fr;
  column-gap: 29px;
}

.hotels-list-item-img {
  align-self: center;
}

.hotels-list-item-description {
  display: flex;
  flex-direction: column;
  width: 258px;
}

.hotels-list-title {
  display: block;
  margin-top: 21px;
  margin-bottom: 7px;
  text-align: start;
}

.hotels-list-title a {
  color: var(--basic-black);
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.hotels-list-title a:hover {
  color: var(--basic-blue);
}

.hotels-list-title a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.hotel-price {
  display: flex;
  margin-bottom: 15px;
}

.hotel-price-item:first-of-type {
  width: 110px;
  margin-right: 6px;
}

.hotel-book {
  display: flex;
}

.hotels-list-link {
  display: block;
  box-sizing: border-box;
  width: 110px;
  height: 27px;
  background-color: var(--basic-blue);
  padding: 3px 16px 3px 17px;
  margin-right: 6px;
}

.hotels-list-button {
  padding: 3px 17px 3px 16px;
}

.hotels-list-item-rating {
  justify-self: end;
  display: flex;
  flex-direction: column;
}

.stars-raiting {
  display: flex;
  justify-content: flex-end;
  margin-top: 28px;
}

.stars-raiting img {
  margin-left: 4px;
}

.hotels-list-rating {
  display: block;
  box-sizing: border-box;
  width: 110px;
  height: 27px;
  background-color: var(--basic-extra-light-grey);
  padding: 3px 12px 3px 15px;
  margin-top: 48px;
}

.hotels-list-rating {
  color: var(--basic-middle-light-grey-shade);
  background-color: var(--basic-extra-light-grey);
}

.hotels-list-link {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}

.hotels-list-link:hover {
  background-color: var(--basic-dark-blue);
}

.hotels-list-link:focus {
  background-color: var(--basic-extra-dark-blue);
}


